@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-light min-h-screen font-volt-sans;
  
  background-image: url('/background.png'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center;
}

.active-tab-btn {
  @apply border-b-4 border-volt-orange text-volt-orange;
}

.section-title {
  @apply text-4xl font-bold mb-4 inline-block relative pb-2 text-light; 
}

.section-title::after {
  content: ''; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 70%;
  height: 4px;
  background-color: #EA580C; 
  border-radius: 2px;
}